:root {
    font-family: sans-serif;
    font-weight: bolder;
    font-size: x-large;

    --content-padding-left: 64px;
    --primary-color: #f5f8fa;
    --primary-accent-color: #374D58;
    --primary-click-color: #293A42;
    --primary-text-color: #E8E5F0;
    
    --shadow-color: #808080;
    --shadow-click-color: #505050;

    --primary-border-radius: 10px;
}

body {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    min-width: 100vw;
    margin: 0;
    background: var(--primary-color);
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 35%;
    min-height: 100%;
    background-image: url("img/space.jpg");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}

.logo-title {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    position: relative;
    bottom: 16%;
    max-width: 100%;
    color: #FFFFFF;
    background-color: #1a1a1a80;
    text-align: center;
    padding:10px;
}

.logo-title img {
    display: inline;
    width: 30%;

}

.logo-title span {
    font-size: 8vmax;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    min-width: 65%;
}



.content > * {
    box-sizing: border-box;
    padding-left: var(--content-padding-left);
    width: 100%;
}

.description {
    width: 800px;
}

/* Sign-up Section */
.sign-up-form {

    display: flex;
    flex-direction: column;
    padding: 0px;
    width: 100%;
    gap: 32px;

}

.sign-up-form > * {
    padding-left: var(--content-padding-left);
}

.container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-left:var(--content-padding-left);
    padding-block: 20px;
    background-color: white;
    box-shadow: 0px 3px 6px var(--shadow-color);
}

.container input {
    border-width: 2px;
    border-radius: 4px;
    border-style: solid;
    border-color: #dedede;
}

.container input:focus {
    outline: none;
    border-color: #5390d2;
}

.container input:user-invalid {
    border-color: #d25353;
}

fieldset {
    display: flex;
    border: 0;
    gap: 64px;
    padding: 0;
    margin: 0;
    font-size: x-small;
}

/* Submit Section */
.submit-form > * {
    font-size: medium;
}

a {
    color: var(--primary-accent-color);
    text-decoration: none;
}

input[type="submit"] {
    font-size: medium;
    font-weight: bold;
    background-color: var(--primary-accent-color);
    color: var(--primary-text-color);
    border: 0;
    border-radius: var(--primary-border-radius);
    box-shadow: 0px 3px 6px var(--shadow-color);
    height: 50px;
    width: 210px;
}

input[type="submit"]:hover {
    cursor:pointer;
}

input[type="submit"]:active {
    background-color: var(--primary-click-color);
    box-shadow: 0px 3px 6px var(--shadow-click-color);
    transform: translateY(2px);
  }